In [30]:
import pandas as pd

In [31]:
#nyc taxi data is no longer .csv but .parquet
df = pd.read_parquet('yellow_tripdata_2021-01.parquet', engine='pyarrow')

In [33]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [34]:
from sqlalchemy import create_engine

In [35]:
## user:password
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [38]:
# insert the schema
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [39]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', chunksize = 100000)

CPU times: user 51.7 s, sys: 1.91 s, total: 53.6 s
Wall time: 2min 55s

In [ ]:
# from time import time
# while True: 
#     t_start = time()

#     df = next(df_iter)

#     df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#     df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
#     df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

#     t_end = time()

#     print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [26]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-05-25 11:27:37--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.86.182
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.86.182|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2022-05-25 11:27:38 (70.8 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [27]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [28]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [29]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

In [ ]:
zz